body{
    background-color: lightblue;
    font-family: Brush Script MT, cursive;
}
.container{
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgb(136, 183, 199);
    align-items: center;
    justify-content: center;
    height: 50vh;
    max-height: 500px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

.container h1{
    font-size: 2rem;
    text-align: center;    
}

.content{
    margin-bottom: 1vh;
    font-size: 2rem;
    padding: 5px;
}

.content input{
    width: 1.5em;
    height: 1.5em;
    border: 0.15em solid rgb(121, 164, 179);
    border-radius: 0.15em;
    margin-left: 6px;
}